/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-brand {
    color: #202124;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}

.nav-custom{
    background: white;
}

.custom-shadow{
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,.15)!important;
}

.btn {
    margin-left: 15px;
}

.logo-img{
    width: 70px;
    height: 48px;
    margin-right: 15px;
}

.container .row .first{
    margin: auto;
    padding: 25px;
    text-align: left;
}

.container .row .col-lg-6 h1{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.container .row .col-lg-6 h4{
    font-weight: 400;
    color: #56565a;
    line-height: 2rem;
    margin-bottom: 30px;
}

.container .row .col-lg-6 .pro-img{
    width: 600px;
    height: 450px;
    margin: 25px;
}

.container .row .col-lg-6 .btn{
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
}

#footer {
    margin-top:37px;
    text-align: center;
    padding: 0.5% 5%;
    background-color: white;
}

.social {
    margin: 20px 10px 0px;
} 