/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar .navbar-brand {
    color: #202124;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}

.nav-custom {
    background: white;
}

.custom-shadow {
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,.15) !important;
}

.btn {
    background-color: rgb(255, 39, 1) !important;
    border-radius: 25px !important;
    text-align: center;
    width: 60%;
    color: white !important;
    margin: 2px auto;
}

    .btn:hover {
        background-color: rgb(223, 35, 2) !important;
    }

.logo-img {
    width: 50px;
    height: 30px;
    margin-right: 15px;
}

#footer {
    text-align: center;
    padding: 0.5% 5%;
    background-color: white;
}

.social {
    margin: 20px 10px 0px;
}

.form {
    background-color: rgba(231, 231, 231, 0.411);
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

label {
    margin-bottom: 10px;
    font-weight:bold;
}

input{
    margin-bottom: 15px !important;
    width: 99%;
    padding: 10px 2%;
}

.user-image {
    width: 150px !important;
    height: 150px;
    margin: 15px auto -5px auto;
}

.card {
    width: 50%;
    background-color: white;
    margin: 15px auto;
    border: groove 2px rgb(224, 34, 0);
    margin-bottom: -15px;
}

.card-title {
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    color: rgb(224, 34, 0);
    font-weight: 600;
    padding: 2%;
    margin: 5%;
}

.footer {
    margin-bottom: -5px;
    text-align: center;
}

.rememberCheckBox {
    width: 12px !important;
}
.field-validation-valid {
    display: none;
}
