@model UserViewModel
@{
    ViewBag.Title = "profile of User";
}
@section Styles{
    <link rel="stylesheet" href="/css/profile.css" />
}
<form enctype="multipart/form-data" method="post">
    <div class="card">
        <img src="@("/Images/"+Model.imagePath)" class="rounded-circle card-img-top user-image" alt="User Profile Image" />
        <div class="card-body">
            <h3 class="card-title">
               Update your Profile 
            </h3>
            <p class="card-text">
                <label asp-for="FirstName"></label><br />
                <input asp-for="FirstName" placeholder="Enter Firstname" /><br />
                <span asp-validation-for="FirstName" class="text-danger errorMsg"></span><br />
                <label asp-for="LastName"></label><br />
                <input asp-for="LastName" placeholder="Enter Lastname" /><br />
                <span asp-validation-for="LastName" class="text-danger errorMsg"></span><br />
                <label asp-for="DateOfBirth"></label><br />
                <input asp-for="DateOfBirth" /><br />
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="form-control" />
            </p>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
</form>
