@{
    ViewBag.Title = "Login";
}
@section Styles{
    <link rel="stylesheet" href="/css/login.css" />
}
<div class="form">
    <div class="card">
        <img src="/Images/login_user.png" class="card-img-top user-image" alt="User Profile Image" />
        <div class="card-body">
            <h5 class="card-title">
                <marquee behavior="alternate">Welcome to Login Page !</marquee>
            </h5>

        </div>

    </div>
</div>
