@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Styles{
    <link rel="stylesheet" href="/css/login.css" />
}
<div class="form">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <form method="POST">
            <div class="card-body">
                <h5 class="card-title">
                    Sign In
                </h5>
                <p class="card-text">
                        @Html.ValidationMessage("loginError",new { @class = "alert alert-danger errorBox" })<br />
                    <br />
                    <label asp-for="Email"></label><br>
                    <input asp-for="Email" placeholder="Enter Email Address"><br />
                    <span asp-validation-for="Email" class="text-danger errorMsg"></span><br>
                    <label asp-for="Password"></label><br>
                    <input asp-for="Password" placeholder="Enter Password"><br />
                    <span asp-validation-for="Password" class="text-danger errorMsg"></span><br>
                </p>
                <div class="footer">
                    <button class="btn" type="submit" value="login">Login</button>
                    <br>
                    <br>
                    Don't Have An Account ? <a asp-controller="Account" asp-action="Register">Sign up</a>
                </div>
            </div>
        </form>
    </div>
</div>