@model RegisterViewModel
@{ 
    ViewBag.Title = "Register";
}
@section Styles{
    <link rel="stylesheet" href="/css/register.css" />
}
<div class="form">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <form method="POST">
            <div class="card-body">
                <h5 class="card-title">
                    Registration
                </h5>
                <p class="card-text">
                    <div>@Html.ValidationSummary(false,"",new {@class= "errorBox" })</div>
                    <label asp-for="Email"></label><br>
                    <input asp-for="Email" placeholder="Enter New Email Address"><br>
                    <span class="text-danger errorMsg" asp-validation-for="Email"></span><br />
                    <label asp-for="FirstName"></label><br>
                    <input asp-for="FirstName" placeholder="Enter Your First Name"><br>
                    <span class="text-danger errorMsg" asp-validation-for="FirstName"></span><br />
                    <label asp-for="LastName"></label><br>
                    <input asp-for="LastName" placeholder="Enter Your Last Name"><br>
                    <span class="text-danger errorMsg" asp-validation-for="LastName"></span><br />
                    <label asp-for="Password"></label><br>
                    <input asp-for="Password" placeholder="Enter New Password"><br>
                    <span class="text-danger errorMsg" asp-validation-for="Password"></span><br />
                    <label asp-for="ConfirmPassword"></label><br>
                    <input asp-for="ConfirmPassword" placeholder="Confirm New Password"><br>
                    <span class="text-danger errorMsg" asp-validation-for="ConfirmPassword"></span><br />
                </p>
                <div class="footer">
                    <button class="btn" type="submit" value="register">Register</button>
                    <br>
                    <br>
                    You Have An Account ? <a asp-controller="Account" asp-action="Login">Sign In</a>
                </div>
            </div>
        </form>
    </div>
</div>
