@model RegisterViewModel
@{ 
    ViewBag.Title = "Register";
}
@section Styles{
    <link rel="stylesheet" href="/css/register.css" />
}
<div class="form">
    <div class="card">
        <img src="/Images/register_user.png" class="card-img-top user-image" alt="User Profile Image">
        <div class="card-body">
            <h5 class="card-title">
                <marquee behavior="alternate">Register Your Self Here ! </marquee>
            </h5>
        </div>
    </div>
</div>
