body {
}

.card {
    margin: 3%;
    background-color: white;
    padding: 3%;
    border-radius:5px;
    border: groove 1px rgb(224, 34, 0);
    box-shadow:rgba(0,0,0,0.4) 0px 5px 10px;
}

.card-title {
    line-height: 2rem;
    font-size: 25px;
    color:black;
    font-weight: 900;
    margin-left:30px !important;
    margin-bottom : 20px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1%;
}

.mail-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.time {
    text-align: right;
    float: right;
}

.card-text .btn {
    margin-right: 10px;
}

.small-btn {
    color: #6c757d;
    width: 30px;
    height: 30px;
    line-height: 20px;
    margin-top:5px;
    margin-left:5px;
}

    .small-btn:hover {
        color: darkgray;
    }

    .btn {
        margin-left:3%;
        margin-top:2%;
    }

.btn:hover {
    color: white !important;
}

.desc {
    background-color: rgba(245,245,245,0.5) ;
    margin:2% 3%;
    padding:2% 5%;
    margin-bottom : 30px;
    font-weight:300;
    border:0.1px groove rgba(245,245,245,0.2);
}

.btnPanel {
    margin-left : 10px;
}


.auto-style1 {
    width: 100%;
    font-size:18px;
    font-weight:600;
}

.auto-style2 {
    width: 6%;
}

.auto-style3 {
    width: 70%;
}

.auto-style4 {
    width: 30%;
}

.auto-style5 {
    width: 5%;
}